<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load index %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'habits/style.css' %}">
    <title>Document</title>
</head>

<body>
    <p class="logout"><a href="{% url 'home' %}">Back to home</a></p> 
    <br>
    <form action="{% url 'modif-habit' %}" method="POST" class="form_add">
        {% csrf_token %}
            <label for="id_name">Name:</label>
                <input type="text" name="name" maxlength="512" required="" id="id_name" value="{{data|index:1}}">
            <label for="id_content">Content:</label>
                <textarea name="content" cols="40" rows="10" maxlength="1024" required="" id="id_content">{{data|index:2}}</textarea>
            <label for="id_start_date">Start date:</label>
                <input type="date" name="start_date" required="" id="id_start_date" value="{{data|index:3}}">
                <p class="start_date_hi" hidden>{{data|index:3}}</p>
            <label for="id_end_date">End date:</label>
                <input type="date" name="end_date" required="" id="id_end_date" value="{{data|index:4}}">
                <p class="end_date_hi" hidden>{{data|index:4}}</p>
            <label for="id_interval">Interval:</label>
                <select name="interval" required="" id="id_interval">
                    <option value="1" {% if data|index:5 == 1 %} selected {% endif %}>1 time per week</option>
                    <option value="2" {% if data|index:5 == 2 %} selected {% endif %}>1 time per day</option>
                    <option value="3" {% if data|index:5 == 3 %} selected {% endif %}>every day (except weekends)</option>
                </select>
            <input type="text" name="id_habit" value="{{id_habit}}" hidden>
        <input type="submit" value="Modif this Habit">
    </form>


    
    <input type="submit" value="Modif this Habit">

</body>
<script>
    document.querySelector('#id_start_date').value = document.querySelector('.start_date_hi').textContent
    document.querySelector('#id_end_date').value = document.querySelector('.end_date_hi').textContent
</script>
</html>